 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1322px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 780px;
  margin: -26px auto 0;
}

.u-section-1 .u-image-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 69px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 67px;
    margin-left: 93px;
  }

  .u-section-1 .u-image-1 {
    width: 269px;
    height: 173px;
    margin-top: 30px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -167px;
    margin-right: 372px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 67px;
    margin-left: 93px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
    margin-right: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -166px;
    margin-right: 285px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 214px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 135px;
  }
}